.pin {
    display: inline-block;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8rem;
    border-radius: 5px;
    text-decoration: none;
}

.pin:hover {
    text-decoration: none;
    color: white;
}

.spanish {
    background-color: #5e2129;
    color: white
}

.english {
    background-color: #0833A2;
    color: white;
}
